*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFCC70;
}

h1{
    color: #FFFADD;
    height: 2rem;
}